= "You are on the new notes page"

%form{ action: "/notes", method: "post" }
  %label
    %textarea{id: "content", name: "content", cols: "60", rows: "6"}
  %br
  %button{ type: "submit" } submit note
%p#counter 0

%script{ src: "../script.js" }
